<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997130409319-4v04ro97ofarqp6ac5l3v9r680sb3hk2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997130409319-4v04ro97ofarqp6ac5l3v9r680sb3hk2</string>
	<key>API_KEY</key>
	<string>AIzaSyBKWW-Z82zB2qO7cORSlWe2hUV3E75pbAM</string>
	<key>GCM_SENDER_ID</key>
	<string>997130409319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.woin2ee.FirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-c82de</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-c82de.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997130409319:ios:aaf3a66c04a2b3ceeb4bc2</string>
</dict>
</plist>